# MODULO 3

## Carga de librerias comprobacion de versiones

In [36]:
import pandas as pd
import seaborn as sns
import numpy as np
from collections import Counter

In [18]:
print(f"Pandas: {pd.__version__}")
print(f"Seaborn: {sns.__version__}")
print(f"Numpy: {np.__version__}")

Pandas: 2.2.3
Seaborn: 0.13.2
Numpy: 2.2.0

## Carga del DataFrame

In [19]:
df = pd.read_csv("diamonds.csv")
df.head()

   carat      cut color clarity  depth  table price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0   326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0   326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0   327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0   334   4.2  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0   335  4.34  4.35  2.75

## Analisis Previo

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53939 non-null  float64
 1   cut      53937 non-null  object
 2   color    53938 non-null  object
 3   clarity  53938 non-null  object
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53938 non-null  object
 7   x        53938 non-null  object
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: float64(5), object(5)
memory usage: 4.1+ MB

## Comprobar si hay valores "?" sustituirlos por NaN y volver a comprobar.

Lo sustituyo por NaN porque luego voy a cambiar los valores NaN por diferentes valores y para no hacer la misma operacion 2 veces

In [21]:
(df=='?').any()

carat      False
cut         True
color       True
clarity    False
depth      False
table      False
price       True
x           True
y          False
z          False
dtype: bool

In [22]:
df.replace('?', np.nan, inplace=True)
(df=='?').any()

carat      False
cut        False
color      False
clarity    False
depth      False
table      False
price      False
x          False
y          False
z          False
dtype: bool

Ya no hay valores '?' en mi DataFrame

## Cambio de tipo:
 * ### 'price' y 'x' de odject a float64
 * ### object a category

In [32]:
df[['price', 'x']] = df[['price', 'x']].astype(float)
for col in df:
    if df[col].dtype == object:
        df[col]=df[col].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53939 non-null  float64
 1   cut      53936 non-null  category
 2   color    53937 non-null  category
 3   clarity  53938 non-null  category
 4   depth    53940 non-null  float64
 5   table    53938 non-null  float64
 6   price    53937 non-null  float64
 7   x        53937 non-null  float64
 8   y        53939 non-null  float64
 9   z        53939 non-null  float64
dtypes: category(3), float64(7)
memory usage: 3.0 MB

## Comprobar y rellenar Nulos

In [48]:
df.isna().sum()

# Uso el print para comprobar que valores he a√±adido

for col in df:
    if df[col].dtype == 'category':
        mode = Counter(df[col]).most_common()[0][0]
        df[col]=df[col].fillna(mode)
        print(f"Moda {col} = {mode}")
    else:
        mean = round(df[col].mean(), 2)
        df[col]=df[col].fillna(mean)
        print(f"Media {col} = {mean}")

Media carat = 0.8
Moda cut = Ideal
Moda color = G
Moda clarity = SI1
Media depth = 61.75
Media table = 57.46
Media price = 3932.54
Media x = 5.73
Media y = 5.73
Media z = 3.54

### Comprobamos que no hay nulos

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  float64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(7)
memory usage: 3.0 MB

In [50]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

## Nueva Columna usando apply

### * price_iva

In [52]:
df['price_iva'] = df['price'].apply(lambda x : 1.21*x)
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_iva
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,394.46
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,394.46
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,395.67
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,404.14
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,405.35

### * volume

In [58]:
def volume(row):
    return round(row['x']*row['y']*row['z'], 2)
df['volume'] = df.apply(volume, axis=1)
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_iva,volume
0,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43,394.46,38.20
1,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31,394.46,34.51
2,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31,395.67,38.08
3,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63,404.14,46.72
4,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75,405.35,51.92

## Ordenar por 2 columnas Cut y Price

In [63]:
df.sort_values(['cut', 'price'], ascending=[True, False], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_iva,volume
0,2.01,Fair,G,SI1,70.6,64.0,18574.0,7.43,6.64,4.69,22474.54,231.38
1,2.02,Fair,H,VS2,64.5,57.0,18565.0,8.00,7.95,5.14,22463.65,326.90
2,4.50,Fair,J,I1,65.8,58.0,18531.0,10.23,10.16,6.72,22422.51,698.46
3,2.00,Fair,G,VS2,67.6,58.0,18515.0,7.65,7.61,5.16,22403.15,300.40
4,2.51,Fair,H,SI2,64.7,57.0,18308.0,8.44,8.50,5.48,22152.68,393.14