## Ejercicios - Tuplas, Sets y Diccionarios

### Tuplas

### Ejercicio 1
- Crea una tupla utilizando la función **range()**, que tenga un rango del 11 al 19.
    - Ejemplo: **tupla = tuple(range(3))**

In [5]:
tupla = tuple(range(11,19))
tupla

(11, 12, 13, 14, 15, 16, 17, 18)

### Ejercicio 2
- Crea una lista vacia y llenala con los números de la tupla anterior usando un bucle.

In [6]:
lista = []

for elemento in tupla:
    lista.append(elemento)
lista

[11, 12, 13, 14, 15, 16, 17, 18]

### Ejercicio 3
- Ordena la lista de mayor a menor.

In [7]:
lista.sort(reverse=True)
lista

[18, 17, 16, 15, 14, 13, 12, 11]

### Ejercicio 4
- Transforma la lista a tupla y ordenala de menor a mayor.

In [8]:
tupla2 = tuple(lista)
sorted(tupla)

[11, 12, 13, 14, 15, 16, 17, 18]

### Ejercicio 5
- ¿Que tipo de dato es la variable resultante?

In [9]:
type(sorted(tupla2))

list

### Ejercicio 6
- Dada la siguiente **frase = "Fui programado para servir, no para destruir - C3PO"**, conviertela en tupla, ordenala y manten la tupla. (El resultado final debe ser una tupla)

In [12]:
frase = "Fui programado para servir, no para destruir - C3PO"

In [14]:
frase_tupla = tuple(frase)
frase_tupla = tuple(sorted(frase_tupla))
frase_tupla

(' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ',',
 '-',
 '3',
 'C',
 'F',
 'O',
 'P',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'd',
 'd',
 'e',
 'e',
 'g',
 'i',
 'i',
 'i',
 'm',
 'n',
 'o',
 'o',
 'o',
 'p',
 'p',
 'p',
 'r',
 'r',
 'r',
 'r',
 'r',
 'r',
 'r',
 'r',
 's',
 's',
 't',
 'u',
 'u',
 'v')

### Ejercicio 7
- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: **("a", "e", "i", "o", "u")**

In [15]:
vocales_tupla = ('a', 'e', 'i', 'o', 'u')
for letra in vocales_tupla:
    print(f"La letra {letra} aparece {frase_tupla.count(letra)}")

La letra a aparece 6
La letra e aparece 2
La letra i aparece 3
La letra o aparece 3
La letra u aparece 2

### Ejercicio 8
- Dada la siguiente tupla: **(9, 8, 7, 5, "a", 3, 6, 5)**, encuentra la forma para eliminar la letra **"a"**. (El resultado final debe ser una tupla)

In [27]:
tupla = (9, 8, 7, 5, "a", 3, 6, 5)
lista_tupla = list(tupla)
lista_tupla.remove('a')
tupla = tuple(lista_tupla)
tupla

(9, 8, 7, 5, 3, 6, 5)

### Ejercicio 9
- Pregunta a un usuario que ingrese 5 elementos diferentes separados por coma y convierte estos elementos a una tupla, pueden ser palabras o un números.

In [28]:
argumento = input("Introduce 5 elementos separados por una coma:")
lista_argumentos = argumento.split(',')
tupla = tuple(lista_argumentos)
tupla

('pablo', 'yujin', '14', 'romero', 'mun')

### Ejercicio 10
- Dada la siguiente lista de tuplas: **[(10, 20, 40), (40, 50, 60), (70, 80, 90)]**, elimina el último elemento de cada tupla dentro de la lista.

In [34]:
lista = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

for i in range(len(lista)):
    lista_temp = list(lista[i])
    lista_temp.pop(2)
    lista[i] = tuple(lista_temp)
lista

[(10, 20), (40, 50), (70, 80)]

### Sets

### Ejercicio 11
- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al **set_1 = {"Meta", "Google", "Amazon"}**

- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [40]:
set_1 = {"Meta", "Google", "Amazon"}

In [37]:
set_2 = set()
for x in range (3):
    set_2.add(input("Ingresa una empresa"))

In [43]:
set_1.union(set_2)

{'Amazon', 'Google', 'Meta', 'Microsoft', 'NTTD Data', 'Uber'}

### Ejercicio 12
- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan.

In [45]:
set_1 = {"Meta", "Google", "Amazon"}

In [46]:
set_2 = set()
for x in range (3):
    set_2.add(input("Ingresa una empresa"))

In [49]:
set_1.intersection(set_2)

{'Amazon', 'Meta'}

### Ejercicio 13
- Dadas las siguientes **frases_1 = "En una galaxia lejana"** y **frase_2 = "Una galaxia llamadá Via Lactea"**, haz la intersección de las palabras.

In [60]:
frase_1 = "En una galaxia lejana"
frase_2 = "Una galaxia llamadá Via Lactea"

set_1 = set(frase_1.lower().split())
set_2 = set(frase_2.lower().split())

In [62]:
set_1.intersection(set_2)

{'galaxia', 'una'}

### Ejercicio 14
- Encuentra la diferencia entre el **set_1 = {9, 8, 7, 6, 5, 4, 3, 2}** y el **set_2 = {9, 8, 10}**
- **Extra**: hazlo utilizando un bucle **for** y no la función.

In [66]:
set_1 = {9, 8, 7, 6, 5, 4, 3, 2}
set_2 = {9, 8, 10}
set_1.difference(set_2)

{2, 3, 4, 5, 6, 7}

In [67]:
set_1 = {9, 8, 7, 6, 5, 4, 3, 2}
set_2 = {9, 8, 10}
set_3 = set()
for elemento in set_1:
    if elemento not in set_2:
        set_3.add(elemento)
set_3

{2, 3, 4, 5, 6, 7}

### Diccionarios

### Ejercicio 15
- Crea un diccionario con 5 elementos (5 llaves y 5 valores)
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [69]:
colores_dict = {'azul':4, 'rojo':4, 'verde':5, 'amarillo':8, 'negro':5}
colores_dict

{'azul': 4, 'rojo': 4, 'verde': 5, 'amarillo': 8, 'negro': 5}

### Ejercicio 16
- Crea un diccionario con 5 elementos pero esta vez pregunta el usuario por cada llave y valor.
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [ ]:
colores_dict = {}
for i in range (5):
    color = input(f"Ingresa el color {i+1}")
    while color in colores_dict:
        color = input(f"{color} esta en el diccionario, ingresa otra vez el color {i+1}")
    colores_dict[color] = len(color)
colores_dict

{'naranja': 7, 'rojo': 4, 'verde': 5, 'azul': 4, 'amarillo': 8}

### Ejercicio 17
- Repite el ejercicio anterior pero de la siguiente forma:
    - Primero crea en una lista los colores y en otra lista el numero de letras
    - Después crea el diccionario a partir de las listas.

In [74]:
lista_key = []
lista_values = []
colores_dict = {}
for i in range (5):
    color = input(f"Ingresa el color {i+1}")
    while color in lista_key:
        color = input(f"{color} esta en el diccionario, ingresa otra vez el color {i+1}")
    lista_key.append(color)
    lista_values.append(len(color))
for llave, valor in zip (lista_key, lista_values):
    colores_dict[llave] = valor
colores_dict

{'azul': 4, 'rojo': 4, 'amarillo': 8, 'verde': 5, 'naranja': 7}

### Ejercicio 18
- Pide al usuario que ingrese 3 números distintos y guarda esos números como llaves y crea los valores utilizando la siguiente formula:
    - x : x**2
    
Donde x es la llave.

In [ ]:
numeros_dict = {}
for i in range(3):
    while True:
        argumento = input(f"Ingresa el valor para numero{i+1}")
        try:
            numero = int(argumento)
            break
        except:
            print(f"{argumento} no es un numero, intentalo de nuevo")
    while numero in numeros_dict:
        print(f"{numero} ya está en el diccionario, intente otro")
        while True:
            argumento = input(f"Ingresa el valor para numero{i+1}")
            try:
                numero = int(argumento)
                break
            except:
                print(f"{argumento} no es un numero, intentalo de nuevo")
    numeros_dict[numero] = numero**23

hola no es un numero, intentalo de nuevo
5 ya está en el diccionario, intente otro
hola no es un numero, intentalo de nuevo

In [76]:
numeros_dict

{5: 25, 4: 16, 2: 4}

### Ejercicio 19
- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. Usa la función **Counter**.

In [79]:
from collections import Counter

frase = input("Ingresa una frase")
lista_palabras = frase.split()
print(Counter(lista_palabras))

Counter({'Hola': 3, 'soy': 3, 'Pablo': 1, 'Juan': 1, 'Yujin': 1})

### Ejercicio 20
- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar

In [89]:
import random

random_dict = {}
i = 0
while i < 7:
    numero = random.randrange(100, 200)
    if numero not in random_dict:
        if numero % 2 == 0:
            random_dict[numero] = 'par'
        else:
            random_dict[numero] = 'impar'
        i += 1

random_dict

{161: 'impar',
 159: 'impar',
 136: 'par',
 185: 'impar',
 108: 'par',
 122: 'par',
 107: 'impar'}

### Ejercicio 21
- Crea un programa donde las keys son 10 números enteros aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x : 1/x

In [90]:
import random

random_dict = {}
i = 0
while i < 10:
    numero = random.randrange(1, 50)
    if numero not in random_dict:
        random_dict[numero] = 1 / numero
        i += 1

random_dict

{9: 0.1111111111111111,
 17: 0.058823529411764705,
 13: 0.07692307692307693,
 29: 0.034482758620689655,
 38: 0.02631578947368421,
 39: 0.02564102564102564,
 36: 0.027777777777777776,
 35: 0.02857142857142857,
 15: 0.06666666666666667,
 2: 0.5}

### Ejercicio 22
- Crea un programa que dados los siguientes diccionarios: **d1 = {"a" : 125, "b" : 130, "c" : 150}**, **d2 = {"e" :  10, "b" : 20, "a" : 30}**, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [93]:
d1 = {"a" : 125, "b" : 130, "c" : 150}
d2 = {"e" :  10, "b" : 20, "a" : 30}
d3 = {}

for key, value in d1.items():
    if key in d2 and key not in d3:
        d3[key] = d1[key] + d2[key]
d3

{'a': 155, 'b': 150}

In [ ]:
##############################################################################################################################